@import "reset.css";
@import "variables.css";
@import "markdown.css";

html {
  min-width: 720px;
  font-family: var(--font-family);
}

html[lang="zh-CN"] {
  font-family: AlibabaPuHuiTi, var(--font-family);
}

body {
  color: var(--el-text-color-regular);
  background-color: var(--el-bg-color-page);
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  border-width: 1px;
}

/* 隐藏滚动条 */
.no-scrollbar::-webkit-scrollbar {
  display: none; /* 或者直接不显示 */
  width: 0; /* 隐藏横向滚动条 */
  height: 0; /* 隐藏纵向滚动条 */
}

.thin-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: #efefef;
  border-radius: 3px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ellipsis2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  word-break: break-all;
  -webkit-box-orient: vertical;
}
